* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f7fb;
}

#root {
  width: 100%;
} 

.view-btn {
  margin-top: 15px;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: #0057b8;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.view-btn:hover {
  background: #003f87;
}